.location-card-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
    height: 175px;
    width: 175px;
    background-color: #f8f7ff;
    border-radius: 10%;
    padding: 10px;
}

.location-card-image {
    height: 100px;
    width: 100px;
}

.location-card-div {
    padding: 0 0 5px 0;
}

.location-card-description {
    display: none;
}

.food-card-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 25px;
    height: 200px;
    width: 200px;
    background-color: #f8f7ff;
    border-radius: 10%;
}

.food-card-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;

}

.food-card-description {
    display: none;
}

.comment-card-container {
    display: flex;
    flex-flow: column;
    color: #f8f7ff;
    width: 25vw;
    height: auto;
    overflow-y: auto;
}
.comment-card-container-addons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.comment-card {
    margin: 20px;
}

.comment-message {
    background-color: #f8f7ff;
    color: #333432;
    padding: 5px 5px;
    border-radius: 5px;
    margin: 2px;
    text-align: left;
}

.card-comment-link {
    color: #f8f7ff;
    text-decoration: none;
    margin: 0 5px;
}

@media only screen and (max-width: 850px) {
    .comment-card {
        margin: 5px;
    }
}