.location-card-container {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 20px;
    height: 20vmin;
    width: 20vmin;
    min-height: 175px;
    min-width: 175px;
    background-color: #f8f7ff;
    border-radius: 10%;
    padding: 10px;
    overflow: auto;
}

.location-card-image {
    height: 12vmin;
    width: 12vmin;
    min-height: 100px;
    min-width: 100px;
}
.disappear {
    display: none;
}

.location-card-div {
    padding: 0 0 5px 0;
}

.location-card-description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vmin;
    width: 20vmin;
    min-height: 100px;
    min-width: 100px;
    overflow: auto;
}

.food-card-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 25px;
    height: 200px;
    width: 200px;
    background-color: #f8f7ff;
    border-radius: 10%;
}

.food-card-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.food-card-description {
    display: none;
}

.card-food-container {
    width: 40vw;
    height: 50vh;
    border-radius: 40px;
    background-color: #1d7dc2;
    box-shadow: 0px 2px 8px #333432;
}
.card-food-image {
    height: 30vh;
}
.card-food-button {
    color: #f8f7ff;
}
.card-food-link {
    text-decoration: none;
}

.comment-card-container {
    display: flex;
    flex-flow: column;
    color: #f8f7ff;
    width: 25vw;
    min-width: 300px;
    height: auto;
    overflow-y: auto;
}
.comment-card-container-addons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.comment-card {
    margin: 20px;
}

.comment-message {
    background-color: #f8f7ff;
    color: #333432;
    padding: 5px 5px;
    border-radius: 5px;
    margin: 2px;
    text-align: left;
}

.card-comment-link {
    color: #f8f7ff;
    text-decoration: none;
    margin: 0 5px;
}
.food-detail-comment-edit {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    background-color: #1d7dc2;
    height: 70vmin;
    min-width: 350px;
    border-radius: 20px;
}

@media only screen and (max-width: 850px) {
    .comment-card {
        margin: 5px;
    }
    .comment-card-container {
        width: 60vw;
    }
    .food-card-container {
        height: 175px;
        width: 175px;
    }
    .food-card-image {
        height: 75px;
        width: 75px;
    }
    .comment-card-container {
        width: 300px;
    }
}