

.food-detail-grid {
    display: grid;
    grid: 40vh 40vh/ 1fr 1fr 1fr;
}

.food-detail-image {
    height: 200px;
    width: auto;
}

.food-details {
    grid-area: 1/1/3/3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    margin: 20px;
}

.food-detail-comments {
    grid-area: 1/3/3/4;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #c30c24;
    margin: 20px;
    border-radius: 20px;
    overflow-y: auto;
}
.food-detail-create-comment {
    margin: 10px;
    text-align: left;
    font-size: small;
    color: #f8f7ff;
}

.food-create-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 30vh;
    width: 10vw;
    margin: 0 45vw;
    background-color: #c30c24;
    color: #f8f7ff;
}

.card-food-link {
    color: #f8f7ff;
    text-decoration: none;
}

.home-foods-container {
    grid-area: 1/3/3/4;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: #c30c24;
    margin: 20px;
    border-radius: 20px;
    overflow-y: auto;
}

@media only screen and (max-width: 850px) {
    .food-detail-grid {
        display: grid;
        grid: 16vh 16vh 16vh 8vh 8vh 16vh/ 1fr 1fr 1fr;
        justify-items: center;
    }
    .food-details {
        grid-area: 1/1/4/4;
        margin: 10px;
    }
    .food-detail-comments {
        grid-area: 5/1/7/4;
        width: 300px;
    }
}