.home-detail-grid {
    display: grid;
    grid: 40vh 40vh/ 1fr 1fr 1fr;
}

.home-details {
    grid-area: 1/1/3/3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 20px;
}

.home-foods-container {
    grid-area: 1/3/3/4;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #c30c24;
    margin: 20px;
    border-radius: 20px;
    overflow: auto;
    width: 35vw;
}
.home-logo {
    width: 40vw;
    max-width: 675px;
    border-radius: 20px;
}

@media only screen and (max-width: 850px) {
    .home-detail-grid {
        display: grid;
        grid: 16vh 16vh 16vh 8vh 8vh 16vh/ 1fr 1fr 1fr;
        justify-items: center;
    }
    .home-details {
        grid-area: 1/1/4/4;
        margin: 10px;
    }
    .home-foods-container {
        grid-area: 5/1/7/4;
        width: 300px;
    }
}