main {
    height: 80vh;
    width: 100vw;
    background-color: #e4b612;
    color: #333432;
    overflow-y: auto;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100vw;
    min-height: 60px;
    background-color: #1d7dc2;
    color: #333432;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100vw;
    min-height: 60px;
    background-color: #1d7dc2;
    color: #333432;
}

.project-title {
    color: #f8f7ff;
    margin: 0;
}

.footer-div {
    padding: 10px;
    color: #f8f7ff;
}
.icons {
    color: #f8f7ff
}

/* color palette
saffron - #e4b612
jet - #333432
star command blue - #1d7dc2
ghost white - #f8f7ff
firebrick - #c30c24 */
