.locations-container-link {
    color: #333432;
    text-decoration: none;
}

.locations {
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.locations-containter {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #c30c24;
    height: 70vh;
    width: 85vw;
    min-height: 500px;
    border-radius: 20px;
    overflow: auto;
}

.location-detail-food-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: #c30c24;
    height: 55vh;
    width: 55vw;
    border-radius: 20px;
    margin: 2.5vh 2.5vw;
    padding: 2.5vh;
    overflow-y: scroll;
}

.location-detail-grid {
    display: grid;
    grid: 10vh 30vh 40vh/ 1fr 1fr 1fr;
}
.location-detail-header {
    grid-area: 1/1/2/4;
}

.location-detail-foods {
    grid-area: 2/1/3/3;
}

.location-detail-description {
    grid-area: 2/3/3/4;
}
.location-detail-description-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: #c30c24;
    height: 55vh;
    border-radius: 20px;
    margin: 2.5vh 2.5vw;
    padding: 2.5vh;
    overflow-y: scroll;
    color: #f8f7ff;
    font-size: larger;
}

.location-detail-select {
    height: 36px;
    width: 150px;
    font-weight: 500;
    font-size: 0.875rem;
    border-radius: 4px;
}

.created {
    background-color: #1d7dc2;
}