.home-detail-grid {
    display: grid;
    grid: 40vh 40vh/ 1fr 1fr 1fr;
}

.home-details {
    grid-area: 1/1/3/3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 20px;
}

.home-foods-container {
    grid-area: 1/3/3/4;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: #c30c24;
    margin: 20px;
    border-radius: 20px;
    overflow-y: auto;
    width: 35vw;
    height: 60vh;
    min-width: 350px;
    max-width: 675px;
    min-height: 600px;
    max-height: 800px;
}
.home-logo {
    width: 40vw;
    max-width: 600px;
    min-width: 350px;
    border-radius: 20px;
}

.contact-create-title {
    margin: 0 0 50px 0;
    font-size: larger;
    color: #1d7dc2;
}
.contact-create-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    height: 70vh;
    width: 30vw;
    max-height: 750px;
    max-width: 550px;
    min-height: 500px;
    min-width: 400px;
    margin: 5vh 35vw;
    background-color: #c30c24;
    color: #f8f7ff;
    border-radius: 20px;
}

.contact-create-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    height: 60vh;
    width: 20vw;
    max-height: 500px;
    max-width: 400px;
    min-height: 400px;
    min-width: 240px;
    background-color: #f8f7ff;
    border-radius: 20px;
}


  /* dark mode */
.contact-create-container-dark {
    background-color: #02111b;
    color: #d4cdc3;
}

@media only screen and (max-width: 850px) {
    .home-detail-grid {
        display: grid;
        grid: 200px 200px 200px 100px 100px 300px/ 1fr 1fr 1fr;
        justify-items: center;
        overflow: auto;
    }
    .home-details {
        grid-area: 1/1/3/4;
        margin: 10px;
    }
    .home-foods-container {
        grid-area: 3/1/7/4;
        width: 300px;
        height: 600px;
    }
}